.quote{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7rem;
    width: 85vw;
}

.quote > div{
    width:auto;
}

.quote-title{
    margin-bottom: 1rem;
}

.quote-author{
    text-align: right;
    margin: 0 0.4rem 0.4rem 0;
    font-size: 0.7rem;
}

@media(min-width:640px){
    .quote{
        flex-direction: row;
        height: auto;
    }

    .quote-author{
        overflow: hidden;
    }
}