.add-quote{
    background-color: white;
    border: 1px none;
    box-shadow: 0px 0px 6px 0px #231e1e;
    border-radius: 5px;
    height: 19rem;
    width: 30rem;
    margin: auto;
    padding: 0.6rem;
}

.add-quote__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18rem;
}

.add-quote__form > label{
    font-weight: 700;
}

.text-input{
    background-color: #eae8e5;
    height: 1rem;
    padding: 0.4rem;
    border: none;
    border-radius: 6px;
    font-size: 0.8rem;
}

.text-input__long{
    height: 8rem;
}

.add-quote__btn{
    right: 0;
}