.add-quote{
    background-color: white;
    border: 1px none;
    box-shadow: 0px 0px 6px 0px #231e1e;
    border-radius: 5px;

    width: 95vw;
    margin: auto;
    padding: 0.6rem;
}

.add-quote__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 67vh;
}

.add-quote__form > label{
    font-weight: 700;
}

.text-input{
    background-color: #eae8e5;
    height: 1.8rem;
    padding: 0.4rem;
    border: none;
    border-radius: 6px;
    font-size: 0.8rem;
}

.text-input__long{
    height: 12rem;
}

.add-quote__btn{
    right: 0;
    margin: 0 auto;
    width: 85vw;
}

@media(min-width:640px)
{
    .add-quote{
        height: 19rem;
        width: 30rem;
    }

    .text-input__long{
        height: 8rem;
    }

    .add-quote__btn{
        width: 16rem;
    }

    .add-quote__form{
        height: 18rem;
    }
}