.quote-detail{
    background-color: black;
    height: 12rem;
    width: 85vw;
    padding: 0.5rem;
    color: white;
    font-size: 0.4rem;
    font-weight: 400;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote-detail__description{
    font-size: 1rem;
}

.quote-detail__author{
    text-align: right;
    margin: 1rem 0 0 0;
    font-size: 1rem;
}

.quote-comments{
    color: black;
    margin: 2rem auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}


@media(min-width:640px)
{
    .quote-detail{
        width: 30rem;
        padding: 3rem;
        font-size: large;
        font-weight: bold;
    }

    .quote-detail__description{
        font-size: 1.5rem;
    }

    .quote-detail__author{
        margin: 1rem 2rem 0 0;
    }

    .quote-comments{
        width: 20rem;
    }
}